<div>
  <ul class="reviews-list">
    {% for row in rows %}
      <li>
        <article>
          <div>
            {{ row.avatar }}
            {{ row.name }}
            {{ row.created }}
            {% if row.user == 'administrator' %}
            <a href="{{ row.edit }}">Edit</a>
            <a href="{{ row.delete }}" class="use-ajax button-delete delete-button-class"
               data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:400}">Delete</a>
            {% endif %}
          </div>
          <div>
            {{ row.image }}
            {{ row.review_text }}
          </div>
          <div>
            {{ row.email }}
          </div>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>
