<div>
  <ul class="reviews-list">
    {% for row in rows %}
      <li class="reviews-list_item">
        <article>
          <div class="reviews-list_item__block1">
            <div>{{ row.avatar }}</div>
            <span>{{ row.name }}</span>
            <span>{{ row.created }}</span>
            {% if row.user == 'administrator' %}
              <div>
                <a class="button" href="{{ row.edit }}">Edit</a>
                <a href="{{ row.delete }}" class="button use-ajax button-delete delete-button-class"
                   data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:400}">Delete</a>
              </div>
            {% endif %}
          </div>
          <div class="reviews-list_item__block2">
            {{ row.image }}
            <p>{{ row.review_text }}</p>
          </div>
          <div class="reviews-list_item__block3">
            <span>Telephone: <a href="tel: {{ row.phone_number }}">{{ row.phone_number }}</a></span>
            <span>Email: <a href="mailto: {{ row.email }}">{{ row.email }}</a></span>
          </div>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>
